html {
    background-color: hsl(0, 0%, 90%);
    color: hsl(120, 100%, 5%);
    font-family: 'Open-Sans', sans-serif;
}

a.project-tile {
    display: inline-block;
    text-decoration: none;
    color: hsl(0, 0%, 15%);
    box-shadow: 2px 2px 5px hsl(0, 0%, 30%);
    width: 95%;
    padding: 0 1em 0 1em;
    margin-bottom: 8px;
}

a.project-tile:hover {
    box-shadow: 5px 5px 8px hsl(249, 37%, 30%);
}

#navbar {
    position: fixed;
    top: 2pt;
    right: 2pt;
}

#navbar a {
    text-decoration: none;
    font-weight: lighter;
    font-size: xx-large;
    color: hsl(249, 37%, 30%);
}

#navbar a:hover {
    font-weight: bolder;
}

#welcome-section {
    height: 100vh;
}

@media screen and (min-height: 480px) {
    #welcome-section {
        margin-bottom: 1em;
        height: unset;
    }
}

a#profile-link {
    background: url(https://github.githubassets.com/favicons/favicon.svg) no-repeat left center;
    background-size: contain;
    padding-left: 24px;
}
